* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 2s ease;

}

body {
  justify-content: center;
  text-align: center;
  font-size: 20px;
  background: #ccc;

}

.boton {
  display: block;
  padding: 10px 20px;
  height: 40px;
  margin: 40px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  background: black;
  color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px gray;
  border: 2px solid white;
}

.boton:hover{
  background: white;
  color: black;
  border-radius: 20px;

}

button{
  width: 200px;
  height: 200px;
}

.trasladar{
  transform: translate(0px, 50px);
}

.trasladar:hover{
  transform: translate(50px, 20px);
}

.escalar {
  transform: scale(0.8,0.8);
}

.escalar:hover {
  transform: scale(1.2,1.2);
}

.rotar{
  transform: rotate(360deg);
}

.sesgar {
  transform: skew(10deg, 20deg);
}

.sesgar:hover {
  transform: skew(-10deg, -20deg);
}

.todos {
  transform: 
  translate(100px, 0px)
  scale(1.2,1.2)
  rotate(90deg) 
  skew(10deg, 10deg);
}

.todos:hover {
  transform: 
  translate(0px, 0px)
  scale(0.8,0.8)
  rotate(270deg) 
  skew(0deg, 0deg);
}


/* otro CSS */

.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

